* {
  padding: 0%;
  margin: 0%;
}

.container {
  .project{

    background-image: url("https://img.freepik.com/free-photo/mother-daughter-running-outdoors_23-2148224639.jpg?t=st=1719111991~exp=1719115591~hmac=0b81b36d89da1ede5af778f736333f442e5c769290a0c894f15893d3401c9673&w=1060");
     background-size: cover;
  background-position: center;
 
  
  width: 100%;
  

  .navbar {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
  
    .left {
      img {
        width: 400px;
      }
    }
    .right {
      display: flex;
      gap: 40px;
      height: 120px;
      align-items: center;
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
      #btn {
        font-size: 20px;
        padding: 10px 25px;
        border-radius: 20px;
        background-color: black;
        color: white;
      }
    }
  }
  .content1 {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 180px;
    justify-content: center;
    gap: 15px;

    h1 {
      font-size: 55px;
      font-family: "Times New Roman", Times, serif;
      text-align: justify;
    }
    button {
      text-transform: capitalize;
      width: 20%;
      font-size: 30px;
      padding: 10px 25px;
      background-color: black;
      color: white;
      border-radius: 30px;
    }
  }
  }
  .content2 {
    display: flex;
    justify-content: center;
    gap: 28px;
    height: 600px;
    align-items: center;
    .image {
      img {
        width: 580px;
        height: 480px;
      }
    }
    .text {
      width: 35%;
      gap: 10px;
      flex-direction: column;
      display: flex;
      h1 {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(51, 50, 50);
      }
      p {
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      .items {
        padding: 10px;
        display: flex;
        gap: 60px;

        .item1 {
          padding-bottom: 10px;

          h1 {
            font-size: 20px;
            color: rgb(216, 76, 76);
          }
          span {
            font-size: 20px;
          }
        }
      }
      .textitems {
        display: flex;

        .icon {
          color: grey;
          display: flex;
          gap: 5px;
          img {
            width: 30px;
          }
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }
        .location {
          color: grey;
          display: flex;
          gap: 5px;
          img {
            width: 30px;
          }
          p {
            font-size: 18px;
          }
        }
      }
      button {
        font-size: 20px;
        padding: 10px 25px;
        width: 50%;
        border-radius: 20px;
        background-color: black;
        color: white;
      }
    }
  }
.content3 {
    background-color: black;
    border: 2px black solid;
    height: 680px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-around;
    .nav {
        padding-top: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 120px;
      gap: 40px;
      color: white;
      .r {
        display: flex;
        gap: 10px;
        flex-direction: column;

        h1 {
          font-size: 35px;
          text-transform: capitalize;
        }
        p {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .l {
        display: flex;

        button {
          text-transform: capitalize;
           border-color: white;
          font-size: 20px;
          padding: 10px 25px;
          background-color: black;
          color: white;
          border-radius: 30px;
        }
      }
    }
    .cards{
        display: flex;
        justify-content: center;
        gap: 28px;
        height: 530px;
        .card{
            background-color: white;
            border-radius: 20px;
            display: flex;
            gap: 13px;
            flex-direction: column;
            height: 350px;
            border: 2px black solid;
            width: 22%;
            padding: 15px;
            img{
                width: 100px;
            }
            h3{
                font-size: 30px;
                text-transform: capitalize;
                font-family: Arial, Helvetica, sans-serif;
            }
            p{
                font-size: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: justify;
            }
        }
    }
  }
  .content4{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    h2{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        font-size: 20px;

    }
    button{
       text-transform: capitalize;
          font-size: 20px;
          padding: 10px 25px;
          background-color: black;
          color: white;
          border-radius: 30px;
    }
  }
}
